{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="card shadow p-4">
      <h2 class="mb-4 text-center text-primary">Add New Supplier</h2>
      
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success px-4">Save Supplier</button>
        </div>
      </form>
    </div>
  </div>
  <footer class="site-footer">
    <p>&copy; 2025 KGLApp. All rights reserved.</p>
    <p>Contact us: <a href="mailto:info@kglapp.com">info@kglapp.com</a></p>
</footer>
{% endblock %}
