{% extends 'base.html' %}
{%block content%}

{%load static%}


    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Produce name</th>
                <th>Tonnage Kg</th>
                <th>Amount paid</th>
                <th>Buyers name</th>
                <th>Sales agent</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.produce_name }}</td>
                <td>{{ sale.tonnage_kg }}</td>
                <td>{{ sale.amount_paid }}</td>
                <td>{{ sale.buyer_name }}</td>
                <td>{{ sale.sales_agent }}</td>
                <td>{{ sale.date }}</td>
                <td>{{ sale.time}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No sales made today.</td>
            </tr>
           
            {% endfor %}
            
        </tbody>
    </table>

   


{%endblock%}

