<!-- home.html -->

{% extends 'base.html' %}

{%load static%}

{% load crispy_forms_tags %}


{% block title %}Procurement - KGLApp{% endblock %}



{% block content %}
<div class="logo-container">
    <img src="{% static 'css/kgl1.jpeg' %}" alt="KGL Logo" class="logo">
</div>
<div class="container">
    <h2>Record sale</h2>
    <div class="procurement form">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<footer class="site-footer">
    <p>&copy; 2025 KGLApp. All rights reserved.</p>
    <p>Contact us: <a href="mailto:info@kglapp.com">info@kglapp.com</a></p>
</footer>
{% endblock %}
