{% extends 'base.html' %}
{%load static%}
{% block content %}
<!-- <div class="logo-container">
    <img src="{% static 'css/kgl1.jpeg' %}" alt="KGL Logo" class="logo">
</div> -->
<div class="container mt-4">
  <h2 class="text-primary mb-4">Matugga Sales Agent Dashboard</h2>


  
  <!-- Overview section -->
  <div class="row text-center">
    <div class="col-md-4">
      <div class="p-3 bg-light border rounded">
        <h5>Today's Sales (kg)</h5>
        <p class="display-6">{{ todays_sales_kg }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 bg-light border rounded">
        <h5>Today's Sales Amount</h5>
        <p class="display-6">UGX {{ todays_sales_amount }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 bg-light border rounded">
        <h5>Total Sales This Month</h5>
        <p class="display-6">UGX {{ monthly_sales_amount }}</p>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
    <p>&copy; 2025 KGLApp. All rights reserved.</p>
    <p>Contact us: <a href="mailto:info@kglapp.com">info@kglapp.com</a></p>
</footer>

{% endblock %}
