body{
    background-color: #E1F5FE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color:#7ca3c5;
    padding: 100px;
    border-radius: 15px;
   
    width: 100%;
    max-width: 400px;
}
