body{
    background-color: #E1F5FE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: #7ca3c5;
    padding: 5 0px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.container h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
}

.container p {
    color: #f0f0f0;
    font-size: 16px;
    line-height: 1.5;
}

.container button {
    background-color: #ffffff;
    color: #7ca3c5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.container button:hover {
    background-color: #f0f0f0;
}
.logo-container {
    position: absolute;  /* Position relative to the page */
    top: 20px;  /* Adjust to control the distance from the top */
    right: 20px;  /* Adjust to control the distance from the right */
    z-index: 1000;  /* Ensure it stays above other content */

}

.logo {
    width: 100px;  /* Adjust the size of the logo */
    height: auto;  /* Maintain the aspect ratio */
}
.logo-containers .logo {
    width: 300px; /* Adjust to the desired width */
    height: auto; /* Maintains aspect ratio */
}