* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color:#ecf0f1 ;
}

.sidebar {
    width: 220px;
    background-color:#2c3e50;
    padding: 30px 20px;
    color: red;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color:#ffffff;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 6px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color:#0056b3;
    color: white;
}

.main-content {
    flex: 1;
    padding: 30px;
    
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.procurement form{
    background-color:#E1F5FE; ;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}
table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 2px solid grey;
            padding: 8px;
            text-align: left;
            
        }
        th {
            background-color: grey;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
        }
        form {
            text-align: left;
            margin-bottom: 20px;
        }
        
        .logo-container {
            position: absolute;  /* Position relative to the page */
            top: 20px;  /* Adjust to control the distance from the top */
            right: 20px;  /* Adjust to control the distance from the right */
            z-index: 1000;  /* Ensure it stays above other content */
        
        }
        
        .logo {
            width: 100px;  /* Adjust the size of the logo */
            height: auto;  /* Maintain the aspect ratio */
        }
        .logo-containers .logo {
            width: 300px; /* Adjust to the desired width */
            height: auto; /* Maintains aspect ratio */
        }
        
        .site-footer {
            background-color: #2c3e50;
            color: #ecf0f1;
            text-align: center;
            padding: 3px 0;
            font-size: 15px;
            position: relative;
            bottom: 0;
            width: 100%;
            border-radius: 10px;
        }
        
        .site-footer a {
            color: #1abc9c;
            text-decoration: none;
        }
        
        .site-footer a:hover {
            color: #16a085;
        }
        .come{
            color: darkblue;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    